
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    min-height: 100vh;
    margin: 0;

    /* İçeriği ortalamak için */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#result {
    margin-top: 20px;

}

